<h1>Add a shiny new celebrity</h1>
<form action="/celebrities" method="POST">
<label for="name">Your celebrity's name: </label>
<input type="text" name="name" id="name">

<label for="occupation">Your celebrity's occupation: </label>
<input type="text" name="occupation" id="occupation">

<label for="catchPhrase">Your celebrity's catch phrase: </label>
<input type="text" name="catchPhrase" id="catchPhrase">

<button type="submit">Add your celebrity now</button>
</form>