<h1>Add a shiny new movie</h1>

<form action="/movies" method="POST">
<label for="title">Your title's title: </label>
<input type="text" name="title" id="title">

<label for="genre">Your title's genre: </label>
<input type="text" name="genre" id="genre">

<label for="plot">Your title's plot: </label>
<input type="text" name="plot" id="plot">

  <select name="cast" id="" multiple>
  {{#each celebrities}}
  <option value="{{_id}}">{{name}}</option>
  {{/each}}
  </select>


<button type="submit">Add your movie now</button>
</form>